.main
  .main__content
    .main__content__header
      = image_tag src="/assets/mercari_camp.png", alt:"image", class:"rogo"
    .main__content__categiry 
      .main__content__category__title 人気のカテゴリー
      .main__content__category__items
        .main__content__category__items__lady レディース
        .main__content__category__items__mens メンズ
        .main__content__category__items__electronics 家電・スマホ・カメラ
        .main__content__category__items__hoby おもちゃ・ホビー・グッズ
    .main__content__items
      .main__content__items__new レディース新着アイテム
      .main__content__items__item
        .main__content__items__item__image
        .main__content__items__item__title 商品名
.hooter
  .hooter__circle
  .hooter__content
    .hooter__content__left
      .hooter__content__left__first スマホでかんたんフリマアプリ
      .hooter__content__left__second 今すぐ無料ダウンロード
      .hooter__content__left__third アイコン
    .hooter__right
