
.main
  .main__header
    = image_tag src="mercari_camp.png", alt:"image", class:"image"
    %i.fas.fa-chevron-left.arrow__left
    %i.fas.fa-chevron-right.arrow__right
  .main__content
    .main__content__category 
      .main__content__category__title 人気のカテゴリー
      .main__content__category__junle
        .main__content__category__junle__each レディース
        .main__content__category__junle__each メンズ
        .main__content__category__junle__each 家電・スマホ・カメラ
        .main__content__category__junle__each おもちゃ・ホビー・グッズ
    .main__content__body
      .main__content__body__new 
        .main__content__body__new__top
          .main__content__body__new__top__title レディース新着アイテム
          .main__content__body__new__top__right もっと見る
        .main__content__body__new__items
          .main__content__body__new__items__item
            .main__content__body__new__items__item__image
              .main__content__body__new__items__item__image__price 金額
            .main__content__body__new__items__item__name 商品名
      .main__content__body__new 
        .main__content__body__new__top
          .main__content__body__new__top__title メンズ新着アイテム
          .main__content__body__new__top__right もっと見る
        .main__content__body__new__items
          .main__content__body__new__items__item
            .main__content__body__new__items__item__image 
              .main__content__body__new__items__item__image__price 金額
            .main__content__body__new__items__item__name 商品名
      .main__content__body__new 
        .main__content__body__new__top
          .main__content__body__new__top__title 家電・スマホ・カメラ新着アイテム
          .main__content__body__new__top__right もっと見る
        .main__content__body__new__items
          .main__content__body__new__items__item
            .main__content__body__new__items__item__image 
              .main__content__body__new__items__item__image__price 金額
            .main__content__body__new__items__item__name 商品名
      .main__content__body__new 
        .main__content__body__new__top
          .main__content__body__new__top__title おもちゃ・ホビー・グッズ新着アイテム
          .main__content__body__new__top__right もっと見る
        .main__content__body__new__items
          .main__content__body__new__items__item
            .main__content__body__new__items__item__image
              .main__content__body__new__items__item__image__price 金額
            .main__content__body__new__items__item__name 商品名