.bread
  -# - breadcrumb :mypage
  -# = breadcrumbs separator: " &rsaquo; "

.body
  = render "layouts/header"
  = render "main"
  = render "layouts/footer"
  = render "layouts/circle"


-# = render "layouts/mercari_top"
-# = render "layouts/top"
-# = render "layouts/mercari_bottom"