.h1 ここは、何かを試しに書いてみるページです。

-# = f.collection_select :prefecture_id, Prefecture.all, :id, :name


<input type="file" id="filename">


<label for="filename" >
<span class="browse_btn">Browse</span><input type="file" size="16" id="filename">
</label>