ここは、何かを試しに書いてみるページです。

-# = f.collection_select :prefecture_id, Prefecture.all, :id, :name



<input type="file" class="sell-upload-drop-file" multiple="" name="image1" style="display: none;">
<pre class="visible-pc">ドラッグアンドドロップ
またはクリックしてファイルをアップロード</pre>