.regmain
  = render "reg_header"
  .progress
    .progress__upper
      .progress__upper__title__long__gray 会員情報
      .progress__upper__title__short__gray 電話番号認証
      .progress__upper__title__gray  お届け先住所入力
      .progress__upper__title__longer__gray 支払い方法
      .progress__upper__title__red 完了
    .progress__lower
      .progress__lower__circle__red
      .progress__lower__bar__red
      .progress__lower__circle__red
      .progress__lower__bar__red
      .progress__lower__circle__red
      .progress__lower__bar__red
      .progress__lower__circle__red
      .progress__lower__bar__red
      .progress__lower__circle__red

.sigup
  .signup__wrapper
    .signup__wrapper__head 会員登録完了
    .signup__wrapper__registration
      .signup__wrapper__registration__finish
        ありがとうございます。<br>
        会員登録が完了しました。
        =link_to "メルカリをはじめる", root_path, class:"signup__wrapper__registration__btn"
          
  .signup__bottom
= render "layouts/footer"