= render "reg_header"
.sigup
  .signup__wrapper
    .signup__wrapper__head 会員登録完了
    .signup__wrapper__registration
      .signup__wrapper__registration__finish
        ありがとうございます。<br>
        会員登録が完了しました。
        =link_to "メルカリをはじめる", root_path, class:"signup__wrapper__registration__btn"
          
  .signup__bottom
= render "layouts/footer"