= render "reg_header"
.sigup
  .signup__wrapper
    .signup__wrapper__title 電話番号の確認
    .signup__wrapper__tell
      .signup__wrapper__tell__form
        = form_for @user, url: root_path, method: :get, html: {class: 'first-main__box'} do |f|
          .signup__wrapper__tell__form__title 携帯電話の番号
          = f.text_field :email, placeholder: ' 携帯電話の番号を入力', class:"input__default"
          .signup__wrapper__tell__form__message
            本人確認のため、携帯電話のSMS(ショートメッセージ<br>
            サービス)を利用して認証を行います。
          .signup__wrapper__tell__form__submit
          =f.submit "SMSを送信する", class:"submit__btn"
          .signup__wrapper__tell__form__message
            ＊電話番号は本人確認や不正利用防止のために利用<br>
            します。他のユーザーに公開されることはありま<br>
            せん。
      .signup__wrapper__tell__reason
        電話番号の確認が必要な理由
        %i.fas.fa-chevron-right


= render "mercari_bottom"