.bottom
  .bottom__box
    .bottom__box__rules
      .bottom__box__rules__rule プライバシーポリシー
      .bottom__box__rules__rule メルカリ利用規約
      .bottom__box__rules__rule 特定商取引に関する表記
    %a{href:  "/"} 
      = image_tag src="logo_gray.svg", alt:"［写真］", class:"bottom__box__image"
    .bottom__box__copyright © fmarket64a, Inc.