.iden{
  width: 700px;
  height: 100%;
  margin-left: 100px;
  padding-bottom: 50px;
  background-color: $white;
  &__title{
  font-size: 24px;
  font-weight: bold;
  border-bottom: solid 1px $backcolor;
  padding: 10px 0px;
  text-align: center;
  }
  &__body{
    padding: 50px 40px;
    &__top{
      &__comment{
        font-size: 14px;
      }
      &__explain{
        font-size: 14px;
        color: $explainblue;
        text-align: end;
        margin-top: 10px;
      }
    }
    &__form{
      &__box{
        margin-top: 40px;
        &__title{
          font-size: 14px;
          font-weight: bold;
        }
        &__content{
          font-size: 14px;
          margin-top: 10px;
        }
        &__submit{
          text-align: center;
          margin: 80px 0px 40px 0px;
        }
      }

    }
  }
}

.input__default{
  width: 350px;
  height: 50px;
  border-radius: 5px;
  border: solid 0.5px $gray8;
  margin-top: 5px;
}
.submit__btn__iden{
  background-color:$red;
  color: $white;
  text-decoration: none;
  line-height: 50px;
  border: none;
  margin-top: 50px;
  text-align: center;
  padding: 20px 270px;
}

// ↓↓↓↓↓↓↓↓↓form実装したら使う↓↓↓↓↓↓↓↓
// .submit__btn__iden{
//   width: 700px;
//   height: 50px;
//   background-color:#ea352d;
//   color: white;
//   margin: 0 auto;
//   line-height: 50px;
//   border: none;
//   margin-top: 20px;
//   text-align: center;
// }
