.mypage{
  width: 700px;
  height: 100%;
  margin-left: 100px;
  padding-bottom: 50px;
  font-weight: bold;
  &__box{
    background-color: $white;
    &__top{
      height: 200px;
      background-color: $mypagepink;
      padding: 35px 0px;
      background-image : url("pink3.png");
      &__content{
        height: 130px;
        width: 140px;
        margin: 0 auto;
        &__upper{
          text-align: center;
          &__icon{
            .icon__circle{
              font-size: 50px;
              color: $gray6;
            }
          }
          &__name{
            margin-top: 10px;
            font-size: 20px;
          }
        }
        &__lower{
          display: flex;
          font-weight: normal;
          margin-top: 20px;
          &__evaluation{
            margin-right: 15px;
          }
        }
      }
    }
    &__main{
      height: 400px;
      &__upper{
        display: flex;
        &__news{
          width: 350px;
          height: 80px;
          text-align: center;
          line-height: 80px;
          &__redbar{
            height: 2px;
            background-color: $red;
          }
        }
        &__todo{
          width: 350px;
          height: 80px;
          text-align: center;
          line-height: 80px;
          background-color: $unchoicedgray;
        }
      }
      &__lower{
        padding: 120px 0px;
        &__content{
          text-align: center;
          color: $gray9;
          &__image{
            .nomessage{
              width: 100px;
              height: 100px;
            }
          }
          &__message{
            width: 200px;
            height: 50px;
            margin: 0 auto;
          }
        }
      }
    }
  }
  &__item{
    background-color: $white;
    margin-top:100px;
    &__top{
      height: 80px;
      line-height: 80px;
      padding-left: 15px;
      &__content{
        height: 130px;
        width: 140px;
        margin: 0 auto;
        &__upper{
          text-align: center;
          &__icon{
            .icon__circle{
              font-size: 50px;
              color: $gray6;
            }
          }
          &__name{
            margin-top: 10px;
          }
        }
        &__lower{
          display: flex;
          &__evaluation{
            margin-right: 15px;
          }
        }
      }
    }
    &__main{
      height: 400px;
      &__upper{
        display: flex;
        &__news{
          width: 350px;
          height: 80px;
          text-align: center;
          line-height: 80px;
          &__redbar{
            height: 2px;
            background-color: $red;
          }
        }
        &__todo{
          width: 350px;
          height: 80px;
          text-align: center;
          line-height: 80px;
          background-color: $unchoicedgray;
        }
      }
      &__lower{
        padding: 120px 0px;
        &__content{
          text-align: center;
          color: $gray9;

          &__image{
            .nomessage{
              width: 100px;
              height: 100px;
            }
          }
          &__message{
            width: 200px;
            height: 50px;
            margin: 0 auto;
          }
        }
      }
    }
  }
  &__card{
    background-color: $white;
    &__title{
      font-size: 25px;
      font-weight: bold;
      text-align: center;
      padding: 5px 0px;
      border-bottom: solid 1px $backcolor;
    }
    &__main{
      padding: 30px 100px 100px;
      &__box{
        width: 350px;
        margin: 0 auto;
        margin-top: 30px;
        &__add{
          &__btn{
            margin: 0 auto;
            width: 350px;
            height: 50px;
            font-size: 14px;
            font-weight: normal;
            color: $white;
            background-color:$red;
            text-align: center;
            text-decoration: none;
            display: block;
            line-height: 50px;
            border: none;
          }
          .icon__card{
            margin-right: 10px;
          }
        }    
      }
    }
  }
  &__logout{
    height: 220px;
    padding: 60px 60px;
    background-color: $white;
    line-height: 220px;
    .submit__btn{
      width: 300px;
      height: 50px;
      font-weight: normal;
      background-color: $red;
      color: $white;
      text-decoration: none;
      display: block;
      margin: 0 auto;
      line-height: 50px;
      border: none;
      margin-top: 20px;
      text-align: center;
    }
  }
}