%header.exhibit
  %a{href:  "/"}
    = image_tag src="fmarket_logo_red.svg", alt:"［写真］", class:"image"
%main.exhibit
  .exhibit-wrapper
    .exhibit-wrapper__head
      %h2 商品の情報を入力
    .exhibit-wrapper__form
    = form_for(@item,url: items_path) do |f|
      .exhibit-wrapper__form__upload-box
        .exhibit-wrapper__form__upload-box__title
          %h3 
            出品画像  
            %span.form-require 必須
          %p 最大10枚までアップロードできます。
          .exhibit-wrapper__form__upload-box__upload-space
            -# =f.fields_for :images do |i|
              =i.file_field :image, class: "hidden" do
                %p 
                  ドラックアンドドロップ<br>
                  またはクリックしてファイルをアップロード
      .exhibit-wrapper__sell-content
        .exhibit-wrapper__sell-content__name
          %h1 
            商品名
            %span.form-require 必須
        -# %input#name{name: "name", placeholder: "商品名 (必須40文字まで)", type: "text"}/
        =f.text_field :name, id: "name", placeholder: "商品名 (必須40文字まで)"
        .exhibit-wrapper__sell-content__description
          .exhibit-wrapper__sell-content__description__title
            %h1 
              商品の説明
              %span.form-require 必須
            -# %textarea#description{name: "name", type: "text", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"}
            =f.text_area :explain, id: "description", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。" 
      .exhibit-wrapper__sell-content.clearfix
        %h3 商品の詳細
        .exhibit-wrapper__sell-content__pulldown
          .exhibit-wrapper__sell-content__pulldown__name-category
            %p 
              カテゴリー 
              %span.form-require  必須
          .exhibit-wrapper__sell-content__select-wrap
            -# %select.category{name: "カテゴリー"}
            -#   %option{value: ""} ---
            -#   %option{value: "1"} レディース
            -#   %option{value: "2"} メンズ
            -#   %option{value: "3"} ベビー・キッズ
            -#   %option{value: "4"} インテリア・住まい・小物
            -#   %option{value: "5"} 本・音楽・ゲーム
            -#   %option{value: "6"} おもちゃ・ホビー・グッズ
            -#   %option{value: "7"} コスメ・香水・美容
            -#   %option{value: "8"} 家電・スマホ・カメラ
            -#   %option{value: "9"} スポーツ・レジャー
            -#   %option{value: "10"} ハンドメイド
            -#   %option{value: "11"} チケット
            -#   %option{value: "12"} 自動車・オートバイ
            -#   %option{value: "13"} その他
            -# =f.fields_for :categories do |i|
              =i.select :name, ["---","レディース"]
          .exhibit-wrapper__sell-content__pulldown__name-state
            %p 
              商品の状態 
              %span.form-require 必須
          .exhibit-wrapper__sell-content__select-wrap
            -# %select{name: "商品の状態"}
            -#   %option{value: ""} ---
            -#   %option{value: "1"} 新品、未使用
            -#   %option{value: "2"} 未使用に近い
            -#   %option{value: "3"} 目立った傷や汚れなし
            -#   %option{value: "4"} やや傷や汚れあり
            -#   %option{value: "5"} 傷や汚れあり
            -#   %option{value: "6"} 全体的に状態が悪い
            =f.select :state, ["---","新品、未使用"]

      .exhibit-wrapper__sell-content.clearfix
        %h3 配送について
        .exhibit-wrapper__sell-content__pulldown
          .exhibit-wrapper__sell-content__pulldown__name-delivery
            %p 
              配送料の負担 
              %span.form-require 必須
            .exhibit-wrapper__sell-content__select-wrap
              -# %select{name: "配送料の負担"}
              -#   %option{value: ""} ---
              -#   %option{value: "1"} 送料込み(出品者負担)
              -#   %option{value: "2"} 着払い(購入者負担) 
              =f.select :postage, ["---","送料込み(出品者負担)"]
          .exhibit-wrapper__sell-content__pulldown__name-delivery
            %p 
              発送元の地域 
              %span.form-require 必須
            .exhibit-wrapper__sell-content__select-wrap
              -# %select{name: "発送元の地域"}
              -#   %option{value: ""} ---
              =f.select :shipping_area, ["---","北海道"]

          .exhibit-wrapper__sell-content__pulldown__name-delivery    
            %p 
              発送までの日数 
              %span.form-require 必須
            .exhibit-wrapper__sell-content__select-wrap
              -# %select{name: "配送の方法"}
              -#   %option{value: ""} ---
              -#   %option{value: "1"} 4~7日で発送
              -#   %option{value: "2"}  
              -#   %option{value: "3"}
              =f.select :shipping_date, ["---","4~7日で発送"]

      .exhibit-wrapper__sell-content.clearfix
        %h3 販売価格(300~9,999,999)
        .exhibit-wrapper__sell-content__pulldown
          .exhibit-wrapper__sell-content__pulldown__name
            %p.name 
              価格   
              %span.form-require 必須 
            %p.price
              ¥ 
              -# %input{placeholder: "例) 300"}/
              = f.number_field :price, placeholder: "例) 300"
          .exhibit-wrapper__sell-content__pulldown__name
            .fee__title
              販売手数料(10%)
            .fee__amount
              -
          .exhibit-wrapper__sell-content__pulldown__name-profit
            .profit__title
              販売利益    
            .profit__amount
              -          
      .exhibit-wrapper__sell-content.clearfix
        %p 
        %a{href:""}禁止されている出品
        、
        %a{href:""}行為
        を必ずご確認ください。
        %p 
          またブランド品でシリアルナンバー等がある場合はご記載ください。
          %a{href:""}偽ブランドの転売
          は犯罪であり処罰される可能性があります。
        %p 
          また、出品をもちまして
          %a{href:""}加盟店規約
          に同意したことになります。
        .exhibit-wrapper__sell-content
          -# %button.btn-red{type: "submit"}出品する
          =f.submit(class: "btn-red", value: "出品する")
          %a.return{href:  "/"}もどる
%footer
  .footer__nav
    %ul
      %li プライバシーポリシー
      %li エフマーケット利用規約
      %li 特定商取引に関する表記
  .footer__logo
    %a{href:  "/"}
      = image_tag src="logo_gray.svg", alt:"［写真］", class:".gray-logo" 
    %p.small  
      ©︎Freemarket,64a.



                  
        

      
        
              


        

      
      







    


