
.body
  = render "layouts/header" 
  .item
    .item__title  
      =@item.name
    .item__introduce
    .item__content
      .item__content__image
        = image_tag @item.images[0].image.url , width: 280, height: 200; 
      .item__content__table
        %table
          %tr 
            %td.item__content__table__title 出品者
            %td.item__content__table__content 
              .item__content__table__content__name 
                =@item.user.nickname
              .item__content__table__content__box
                .item__content__table__content__box__smile
                  %i.fas.fa-laugh-beam
                .item__content__table__content__box__number 100
                .item__content__table__content__box__normal
                  %i.fas.fa-meh
                .item__content__table__content__box__number 10
                .item__content__table__content__box__sad
                  %i.fas.fa-frown
                .item__content__table__content__box__number 3
          %tr 
            %td.item__content__table__title カテゴリー
            %td.item__content__table__content 
              =@category.name
          %tr 
            %td.item__content__table__titles ブランド
            %td.item__content__table__contents 
              =@item.brand
          %tr 
            %td.item__content__table__titles 商品のサイズ
            %td.item__content__table__contents
              =@item.size
          %tr 
            %td.item__content__table__titles 商品の状態
            %td.item__content__table__contents 
              =@item.state
          %tr 
            %td.item__content__table__titles 配送料の負担
            %td.item__content__table__contents 
              =@item.postage
          %tr 
            %td.item__content__table__titles 配送の方法
            %td.item__content__table__contents 
              =@item.delivery_way
          %tr 
            %td.item__content__table__titles 配送元地域
            %td.item__content__table__contents
              =@item.shipping_area
          %tr 
            %td.item__content__table__titles 発送日の目安
            %td.item__content__table__contents 
              =@item.shipping_date 
    .item__buy
      .item__buy__box
        .item__buy__box__price
          ¥  
          = converting_to_jpy(@item.price)
        .item__buy__box__tax （税込）
        .item__buy__box__shippingfee 送料込み
      - if  @item.buyer_id.present?
        .soldout__btn 売り切れました 
      - elsif user_signed_in? && current_user.id == @item.user_id
        .edit
          =link_to "商品の編集", edit_item_path(@item.id), class:"item__buy__btn" 
      - else
        .purchase
          =link_to "購入画面に進む", purchase_path , class:"item__buy__btn"
    .item__discription 
      .item__discription__content 
        =@item.explain
      .item__discription__footer
        .item__discription__footer__like
          %i.far.fa-heart
          いいね! 0
        .item__discription__footer__report
          %i.far.fa-flag
          不適切な商品の報告
  .comment
    .comment__container
      .comment__container__box
        .comment__container__box__title 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        .comment__container__box__form
        =form_with(local: true) do |form|
          =form.text_area :text, rows: "8", class: "comment__container__box__form__content" 
          =form.submit "コメントする", class: "comment__container__box__form__submit"
= render "layouts/footer"