$lightblue: #4abbe7c0;
$backcolor: #f5f5f5;
$icongray: gray;
$gray6: #666666;
$gray7: #777777;
$gray8: #888888;
$gray9: #999999;
$unchoicedgray: #e6e6e6;
$red: #ea352d;
$brightred: red;
$black : black;
$white : #ffffff;
$explainblue: #0099E8;
$mypagepink: #FFEEFF;
$bordergray: solid 1px $backcolor;