*{
  font-family: Arial, Helvetica, sans-serif;
}

.body{
  width: 100vw;
  background-color: $white;
  padding: 0px;
  margin: 0px;
  .header{
    background-color: $white;
    padding: 5px;
    position: relative;
    z-index:2;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    &__box{
      margin: 0 auto;
      &__upper{
        height: 50px;
        display: block;
        display: flex;
        justify-content: space-around;
        &__rogo{
          display: flex;
          position: absolute;
          left: 50px;
          &__image{
            width: 180px;
            height: 40px;
          }
          &__name{
            font-size: 30px;
            color: $black;
            text-decoration: none;
          }
        }
        &__search{
          margin-bottom:20px;
          line-height: 40px;
          &__input{
          width: 800px;
          height: 30px;
          background: $backcolor;
          font-size: 18px;  
          border-radius: 2px;
          border: solid 1px #999999;
          position:absolute; 
          top: 15px;
          right:100px;
          z-index: 1;       
          }  
          .button{
            height: 30px;
            width: 30px;
            background-color: $white;
            background:none;
            border: none;
            position:absolute; 
            top: 15px;
            right:100px;;  
            z-index: 2;
            .icon{   
              font-size: 15px;          
              position: absolute;
              top: 6px;
              right:6px;
              z-index: 15;
            }
          }         
        }
      }
      &__lower{
        margin-left: 15px;
        width: 90vw;
        height: 50px;
        line-height: 50px;
        display: flex;
        justify-content: space-between;
        &__left{
          width: 350px;
          font-weight: bold;
          display: flex;
          justify-content: space-around;
          margin-left: 50px;
          &__category{
            color: $black;
            text-decoration: none;
            &__icon{
              color: $brightred;
              line-height: 50px;
            }
          }
          &__brand{
            color: $black;
            text-decoration: none;
            &__icon{
              color: $brightred;
            }
          }
        }
        &__menue{
          display: flex;
          &__notice{
            margin-left: 20px;
          }
          &__list{
            margin-left: 20px;
          }
          &__mypage{
            margin-left: 20px;
          }
          .icon{
            color: $icongray;
          }
          a{
            color: $black;
            text-decoration: none;
          }
        }
        &__user{
          width: 200px;
          display: flex;
          justify-content: space-between;
          &__registration{
            height: 35px;
            width: 100px;
            background-color: $brightred;
            line-height: 35px;
            border-radius: 5px;
            text-align: center;
            &__red{
              text-decoration: none;
              color: $white;
              font-size: 15px;
            }
          }
          &__rogin{
            width: 80px;
            height: 35px;
            background-color: $white;
            border-radius: 5px;
            border: solid 1px #005FFF;
            text-align: center;
            line-height: 34px;
            &:hover{
              background-color: #005FFF;
              color: $white;
            }
            &__blue{
              padding: 7.5px;
              color: #005FFF;
              text-decoration: none;
            &:hover{
              background-color: #005FFF;
              color: white;
            }
            }
          }
        }
      }
    }
  }
}

