$lightblue: #4abbe7c0;

* {
  box-sizing: border-box;
}


.body{
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  padding: 0px;
  margin: 0px;
  .header{
    height: 100px;
    background-color: #fff;
    padding: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    &__box{
      margin: 0 auto;
      &__upper{
        height: 50px;
        display: flex;
        &__rogo{
          display: flex;
          &__name{
            font-size: 30px;
            color: black;
            text-decoration: none;
          }
        }
        &__search{}
      }
      &__lower{
        height: 50px;
        display: flex;
        justify-content: space-between;
        &__left{
          font-weight: bold;
          display: flex;
          &__category{
          }
          &__brand{
          }
        }
        &__menue{
          display: flex;
          &__like{
          }
          &__notice{
          }
          &__list{

          }
          &__mypage{

          }
        }
        &__user{
          width: 200px;
          display: flex;
          justify-content: space-between;
          &__registration{
            height: 35px;
            width: 100px;
            background-color: red;
            line-height: 35px;
            border-radius: 5px;
            text-align: center;
            &__red{
              text-decoration: none;
              color: white;
              font-size: 15px;
            }
          }
          &__rogin{
            width: 80px;
            height: 35px;
            background-color: #fff;
            border-radius: 5px;
            border: solid 1px #005FFF;
            text-align: center;
            line-height: 35px;
            &:hover{
              background-color: #005FFF;
              color: white;
            }
            &__blue{
              color: #005FFF;
              text-decoration: none;
            &:hover{
              background-color: #005FFF;
              color: white;
            }
            }
          }
        }
      }
    }
  }
  .main{
    &__content{
      margin: 0 auto;
      &__header{
        height: 400px;
        background-color: #FFF8DC;
        .rogo{
          margin: 0 auto;
          width: 100vw;
          height: 400px;
        }
      }
      &__category{
        &__title{

        }
        &__items{
          &__ledy{
          }
          &__mens{
          }
          &__electronics{
          }
          &__hoby{
          }
        }
      }
      &__items{
        &__new{

        }
        &__item{
          &__image{
          }
          &__title{
          }
        }
      }
    }
  }
  .hooter{
    &__circle{
    }
    &__content{
      &__left{
        &__first{

        }
        &__second{

        }
        &__third{
        }
      &__right{
      }
      }
    }
}
}