
* {
  box-sizing: border-box;
}

.main{
  margin: 0 auto;
  background-color: $backcolor;
  &__header{
    height: 400px;
    background-color: #FFF8DC;
    text-align: center;
    margin-bottom: 0px;
    .image{
      width: 800px;
      height: 400px;
      position: relative;
    }
  }
  .iconbox{
    .arrow__left{
      color: $white;
      font-size: 40px;
      position: absolute;
      top: 280px;
      left: 100px;
      filter: drop-shadow(5px 5px 5px rgba(0,0.3,0,0.3));
    }    
    .arrow__right{
      color: $white;
      font-size: 40px;
      position: absolute;
      top: 280px;
      right: 100px;
      filter: drop-shadow(5px 5px 5px rgba(0,0.3,0,0.3));
    }
  }
  &__content{
    &__category{
      padding: 30px 0px 30px;
      text-align: center;
      background-color: $white;
      &__title{
        font-size: 30px;
        text-align: center;
        margin:20px 0px 12px;
      }
      &__junle{
        display: flex;
        justify-content: center;
        &__each{
          font-size: 14px;
          background-color: $backcolor;
          padding: 3px 15px;
          margin: 0 5px;
          border-radius: 14px 14px 14px 14px;
        }
      }
    }
    &__body{
      width: 100vw;
      background-color: $backcolor;
      margin: 0 auto;
      padding:0px 20px 80px;
      &__new{
        padding: 30px 70px 80px 140px;
        margin: 0 auto;    
        &__top{
          display: flex;
          justify-content: space-between;
          &__title{
          font-size: 25px;
          margin-bottom: 20px;
          }
          &__right{
            color: $explainblue;
            text-align: end;
          }
        }
        &__items{
          display: flex;
          flex-wrap: wrap;
          &__item{
            width: 190px;
            box-shadow: 2px 2px 4px  #AAAAAA;
            margin: 0px 30px 30px 0px;
            position: relative;
            &__image{
              height: 170px;
              background-color: #EEFFFF;
              &__price{
                height: 30px;
                color: $white;
                background-color: rgba( 0, 0, 0, 0.5);
                line-height: 30px;
                border-radius: 0px 20px 20px 0px ;
                padding: 0px 10px;
                position: absolute;
                bottom: 70px;
              }
            } 
            &__name{
              height: 60px;
              padding: 5px;
              background-color: $white;
            }
            &__link a{
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

.triangle{
width: 80px;
height: 80px;
border-top: 40px solid $red;
border-right: 40px solid transparent;
border-bottom: 40px solid transparent;
border-left: 40px solid $red;
position: absolute;
top: 0px;
left: 0px;
z-index: 4;
}
.sold{
color: $white;
font-size: 21px;
font-weight: bold;
transform: rotate(-45deg);
position: absolute;
top: 16px;
z-index: 5;
}

.slick-dots{
  height: 30px;
  position: absolute;
  top: 350px;
}

.image slick-slide{
  height: 400px;
  width: 800px;
  background-color: #FFF8DC;
}

.image slick-slid slick-current slick-active{
  height: 400px;
  width: 800px;
}

// .slick-dotted.slick-slider {
//   margin-bottom: 0px;
// }

// <div class="main__header slick-initialized slick-slider slick-dotted"><button class="slick-prev slick-arrow" aria-label="Previous" type="button" style="display: block;">Previous</button>
// <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 4395px; transform: translate3d(-879px, 0px, 0px);"><img alt="image" class="image slick-slide slick-cloned" src="/assets/mercari_camp-a74f901d33a67c29a7e7e848ceb46c5705d1d6c974f3b79a3d5a173eef3e3dd5.png" data-slick-index="-1" aria-hidden="true" tabindex="-1" style="width: 879px;"><img alt="image" class="image slick-slide slick-current slick-active" src="/assets/kausika-79228918a61560b16b95ba1105faf1cb96803212a7caee34bf999f9e08eadb13.jpg" data-slick-index="0" aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide00" aria-describedby="slick-slide-control00" style="width: 879px;"><img alt="image" class="image slick-slide" src="/assets/mercari_camp-a74f901d33a67c29a7e7e848ceb46c5705d1d6c974f3b79a3d5a173eef3e3dd5.png" data-slick-index="1" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide01" aria-describedby="slick-slide-control01" style="width: 879px;"><img alt="image" class="image slick-slide slick-cloned" src="/assets/kausika-79228918a61560b16b95ba1105faf1cb96803212a7caee34bf999f9e08eadb13.jpg" data-slick-index="2" aria-hidden="true" tabindex="-1" style="width: 879px;"><img alt="image" class="image slick-slide slick-cloned" src="/assets/mercari_camp-a74f901d33a67c29a7e7e848ceb46c5705d1d6c974f3b79a3d5a173eef3e3dd5.png" data-slick-index="3" aria-hidden="true" tabindex="-1" style="width: 879px;"></div></div>

// <button class="slick-next slick-arrow" aria-label="Next" type="button" style="display: block;">Next</button><ul class="slick-dots" style="display: block;" role="tablist"><li class="slick-active" role="presentation"><button type="button" role="tab" id="slick-slide-control00" aria-controls="slick-slide00" aria-label="1 of 2" tabindex="0" aria-selected="true">1</button></li><li role="presentation" class=""><button type="button" role="tab" id="slick-slide-control01" aria-controls="slick-slide01" aria-label="2 of 2" tabindex="-1">2</button></li></ul></div>