
.title {
  text-align: center;
}
.exhibit1 {
  margin-left: 30px;
  .exhibit1__title {
    display: flex;
    .p {
      background-color: red;
      color: white;
    }
  }
}
.exhibit2 {
  margin-left: 30px;
}
.exhibit3 {
  margin-left: 30px;
}
.exhibit4 {
  margin-left: 30px;
}
.exhibit5 {
  margin-left: 30px;
}
.upload-space {
  background-color: #EEEEEE;
  height: 200px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  width: 900px;
  border: 1px dashed;
}
.exhibit2__title {
  display: flex;
}
.exhibit3 {
  .exhibit3__title {
    display: flex;
  }
  textarea {
    width: 1000px;
    height: 500px;
  }
}
.exhibit4__title {
  display: flex;
}
.exhibit5 {
  display: flex;
}
.contents__up {
  display: flex;
  .p_down {
    background-color: red;
    color: white;
  }
}
.contents__down {
  display: flex;
  .p_down {
    background-color: red;
    color: white;
  }
}

.exhibit5 {

}

