body {
  background-color: #f5f5f5;
  header.signup {
    height: 128px;
    img {
        height: 49px;
        width: 185px;
        position: absolute;
        top: 30px;
        left: 620px;
      }
    }
  .main.signup {
    display: block;
    .signup-wrapper{
      width: 700px;
      margin: 0 auto;
      .signup-wrapper__haed { 
        .h2 {
          font-size: 22px;
          padding: 32px;
        }
      }
    }
  }
}