.body{
  width: 100vw;
  background-color:#eeeeee;
  .item{
    width: 700px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 25px 40px;
    &__title{
      font-size: 20px;
      font-weight: bold;
    }
    &__introduce{
      margin-top: 10px;
    }
    &__content{
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      &__image{
        width: 280px;
        height: 300px;
        background-color: #fdfbfb;
        padding-top: 50px;
      }
      &__table{
        border: solid 1px #eeeeee ;
        &__title{
          width: 120px;
          height: 60px;
          background-color: #fdfbfb;
          border: solid 1px #eeeeee ;
          padding: 16px;
        }
        &__content{
          width: 180px;
          height: 60px;
          padding-left: 5px;
          border: solid 1px #eeeeee ;  
          &__name{
            font-size: 15px;
            padding-bottom: 3px;
          }      
          &__box{
            display: flex;
            &__smile{
              color: 	#FF5192;
            }
            &__normal{
              color: #FFA500;
            }
            &__sad{
              color: #00BFFF;
            }
            &__number{
              font-size: 14px;
              margin-right: 10px;
            }

          }
        }     
        &__titles{
          width: 120px;
          height: 40px;
          background-color: #fdfbfb;
          border: solid 1px #eeeeee ;
          padding: 10px;
        }
        &__contents{
          width: 120px;
          height: 40px;
          border: solid 1px #eeeeee ;
        } 
      }    
    }
    &__buy{
      margin: 0 auto;
      text-align: center;
      &__box{
        margin: 30px 0px;
        display: flex;
        justify-content: center;
        &__price{
          font-size: 50px;
          font-weight: bold;
        }
        &__tax{
          line-height: 70px;
        }
        &__shippingfee{
          line-height: 70px;
        }
      }
      .edit {
        a{
          height: 50px;
          width: 300px;
          font-size: 20px;
          color: white;
          background-color: red;
          text-decoration: none;
          padding: 15px 200px;
        }
      }
      .option {
        margin-top: 30px;
        margin-bottom: 30px;
      }
      .stop {
        margin-bottom:  40px; 
       a{
          height: 50px;
          width: 300px;
          font-size: 20px;
          color: white;
          background-color: gray;
          text-decoration: none;
          padding: 15px 160px;
        }
      }
      .destroy {
        margin-bottom:  40px; 
       a{
          height: 50px;
          width: 300px;
          font-size: 20px;
          color: white;
          background-color: gray;
          text-decoration: none;
          padding: 15px 160px;
        }
      }
    }
    &__discription{
      &__content{
        margin-top: 50px;
      }
      &__footer{
        margin-top: 30px;
        display: flex;
        &__like{
          font-size: 14px;
          background-color: #eeeeee;
          padding: 5px 10px;
          border-radius: 15px;
        }
        &__report{
          font-size: 14px;
          background-color: #eeeeee;
          padding: 5px 10px;
          margin-left: 15px;
          border-radius: 15px;
        }
      }
    }
  }
  .comment{
   
    &__container{    
      width: 700px;
      background-color: white;
      margin: 0 auto;
      padding: 20px 25px ;
      &__box{

        &__title{
          background-color: #FAFAD2;
        }   
        &__form{
          width: 100%;
          &__content{
            width: 650px;
            border: solid 1px #bbbbbb; 
            margin-top: 10px;
          }
          &__submit{
            width: 650px;
            height: 50px;
            color: white;
            background-color: #bbbbbb;
            margin-top: 10px;

          }
        }
      }
    }
  }
}
html{
  background-color: #f5f5f5;
}