
.topmain{

  &__box{
    width: 700px;
    height: 350px;
    background-color: #ffffff;
    margin: 0 auto;
    &__title{
      height: 100px;
      width: 700px;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      line-height: 100px;
      border-bottom: solid 1px #f5f5f5 ;
    }
    &__form{
      padding: 25px 15px 40px ;
      &__btn{
        width: 350px;
        height: 50px;
        margin: 0 auto;
        &__mail{
          width: 350px;
          height: 50px;
          background-color:#ea352d;
          color: white;
          text-decoration: none;
          display: block;
          border-radius: 5px;
          text-align: center;
          line-height: 50px;
          display: flex;
        }
        &__facebook{
          width: 350px;
          height: 50px;
          background-color:#385185;
          color: white;
          text-decoration: none;
          display: block;
          border-radius: 5px;
          text-align: center;
          line-height: 50px;
          margin-top: 15px;
          display: flex;
        }
        &__google{
          width: 350px;
          height: 50px;
          color: black;
          text-decoration: none;
          display: block;
          border-radius: 5px;
          border: solid 1px black;
          text-align: center;
          line-height: 50px;
          margin-top: 15px;
          display: flex;
        }

      
      }
      .btn__mail{
        color: white;
        margin-right: 30px ;
        line-height: 50px;
        margin-left: 10px;
      }
      .btn__facebook{
        color: white;
        line-height: 50px;
        margin-left: 10px;
      }
      .btn__google{
        color:blue;
        margin-left: 0px ;
        line-height: 50px;
        margin-left: 10px;
      }
      p1{
        margin-left: 40px;
      }
      p2{
        margin-left: 80px;
      }
      p3{
        margin-left: 90px;
      }
    }
  }
  

}

