.purchases{
  &__box{
    width: 700px;
    background-color: #ffffff;
    margin: 0 auto;
    &__title{
      height: 100px;
      font-size: 25px;
      font-weight: bold;
      text-align: center;
      padding: 30px;
      border-bottom: $bordergray;
    }
    &__main{
      padding: 30px 0px 50px;
      &__form{
        width: 350px;
        margin: 0 auto;
        &__item{
          display: flex;
          padding: 20px 0px;
          border-bottom: $bordergray;
          &__image{
            width: 80px;
            height: 80px;
            background-color: #EEFFFF;
          }
          &__detail{
            margin-left: 20px;
            &__name{
              width: 250px;
              height: 40px;
              font-size: 14px;
              margin-bottom: 10px;
            }
            &__prices{
              display: flex;
              &__price{
                font-size: 15px;
                font-weight: bold;
              }
              &__tax{
                font-size: 12px;
              }
            }
          }
        }
        &__payment{
          height: 100px;
          border-bottom: $bordergray;
          padding: 30px 0px 20px;
          &__upper{
            display: flex;
            justify-content: space-between;
            &__title{
              font-size: 18px;
              font-weight: bold;
            }
            &__price{
              font-size: 30px;
              font-weight: bold;
              margin-left: 30px;
            }
          }
          &__lower{
            color: $gray9;
            .square{
              margin-right: 5px;
            }
          }
        }
        &__container{
          border-bottom: $bordergray;
          padding: 30px 0px 20px;
          &__upper{
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 5px;
          }
          &__lower{
            font-size: 14px;
            color: $explainblue;
            margin-top: 10px;
            .plus{
              font-size: 16px;
            }
          }
        }
        &__btn{
          margin-top: 40px;
          &__submit{
          background-color:$gray9;
          color: $white;
          text-align: center;
          text-decoration: none;
          line-height: 50px;
          border: none;
          margin-top: 50px;
          padding: 20px 143px;
          }
        }
      }
      &__name{
        text-align: center;
        &__item{
          margin: 0 auto;
          width: 300px;
          display: flex;
          justify-content: center;
          border-bottom: solid 1px $backcolor;
          &__title{
            line-height: 45px;
            margin-right: 20px;
          }
          &__main{
            font-size: 30px;
            margin-left: 20px;
          }
        }
        &__price{
          margin-top: 20px;
          font-size: 20px;
        }
      }
    }
  }
}

.purchases_button{
  width: 350px;
  height: 50px;
  background-color: $gray8;
  color: white;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  line-height: 50px;
  border: none;
  margin-top: 30px;
  &:hover{
    background-color: $red;
  }
}


.link{
  padding-bottom: 30px;
  &__btn{
  width: 200px;
  height: 35px;
  background-color: $red;
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
  margin: 0 auto;
  line-height: 35px;
  border: none;
  margin-top: 20px;
  // margin-bottom: 40px;
  }
}