-if user_signed_in?
  =link_to  new_item_path, class:"footer__lower__circle" do
    %p 出品
    %i.fas.fa-camera.camera
-else 
  =link_to  new_user_session_path, class:"footer__lower__circle" do
    %p 出品
    %i.fas.fa-camera.camera